ul {
list-style-type: none;
}

body {
background: black;
}

#icons_nav {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

#bar_lateral_1 {
  position: fixed;
  height: 100%;
  left: : 0;
  top: 5%;
  width: 8em;
  margin-top: -2.5em;
  background-color:grey;
  opacity: 0.5;
  color: white;
}

#bar_lateral_2 {
  position: fixed;
  height: 100%;
  top: 5%;
  right: 0;
  width: 8em;
  margin-top: -2.5em;
  background-color:grey;
  opacity: 0.5;
  color: white;
}
