ul {
list-style-type: none;
}

#icons_nav {
border-radius: 50%;
}

#bar_lateral_1 {
  position: fixed;
  left: : 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}

#bar_lateral_2 {
  position: fixed;
  right: 0;
  top: 50%;
  width: 8em;
  margin-top: -2.5em;
}
